<section class="taller adminNovedades" id="novedades">
        <div class="taller--fondo__admin"></div>
        <div class="taller--div__novedades">
            <div class="taller--text div__admin__novedades">
                <h4 class="display-5 text-black" style="text-align: center;">{{saludo}} {{usuario}} <br>Página de administración de contenido</h4>
                <p>Desde esta pagina usted podra editar contenido de la pagina de la concesionaria</p>
                
                <p>Usted accedio {{vistas}} {{cantidadVeces}}</p>
                <p>Ultimo acceso: {{tiempo}}</p>  
                <a class="btn btn-dark" href="/admin/login/logout">Cerrar sesión</a>
            </div>
        </div>
            
        
</section>

<script>
          document.getElementById('novedades').scrollIntoView(); 
</script>